
body{
    font-family: 'Times New Roman', Times, serif;
}
.navigation{
    background-color: #1E6292;
    color: white;
}

ul.hr {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
    color: white;
   }
   ul.hr li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    border: 0px ; /* Рамка вокруг текста */
    padding: 3px; /* Поля вокруг текста */
   }

.mmenu{
    text-decoration: none;
    color: white;
    font-size: 14pt;
}
.menu{
    text-decoration: none;
    
    font-size: 14pt;
}
.mmenu:hover{
    color: white;
    border-bottom: 1px white solid;
}
.telli{

        list-style-type: none; 
       
}
.bar{
    display: grid;
    grid-template-areas: "name tel";
    grid-template-rows: 1fr;
}
.modul{
    text-align: center;
    font-weight: bolder;
}
@media (min-width: 992px){
    .barbut{
        display: none;
    }
}
@media (max-width: 992px){
    .hr, .telul{
        display: none;
    }
}
@media (max-width: 768px){
    h1{
        font-size: 18pt;
      
    }
    .barbut{
        font-size: 16pt !important;
    }
}
.arch{
    color: #1E6292;
    font-weight: bolder;
    margin-top: 25px;
}
.vola{
    text-decoration: none;
    font-weight: bold;
    font-size: 16pt;
    color: black;
}
.descript{
    max-width: 600px;
}
.namesul{
    list-style-type: none; 
    padding-left: 3px;
}
.worklink{
    text-decoration: none;

}
.abs{
    text-align: justify;

}
.telul{
    text-align: right;
}